body
{
    font-family: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform:uppercase;
    letter-spacing: 0.5em;
    /*position: relative; position static prevent top from taking effect*/
    top:15%;
    background: linear-gradient(to right, rgb(221, 255, 119), rgb(255, 148, 161));
}

h1
{
    font-family: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
     text-align: center;
    text-transform:uppercase;
    letter-spacing: 0.5em;
    width:100%;
}

h3
{
    font: 900 1em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
     text-align: center;
    text-transform:none;
    letter-spacing: .01em;
    width:100%;
}

#random
{
    margin-top: 20px;
    font-family: 'Raleway', sans-serif;
    padding: 2.1em;
    background-color: #ffffff;
    border-radius: 36% 0%;
    border: 0px;
   box-shadow: 0px 4px 0px rgba(0, 0, 0, .2);
    text-transform: uppercase;
}

@media (hover: hover) { /*This fixes button being stock on hover state after pressing the button on the mobile version*/
    #random:hover
    {
        cursor:pointer;
        transform: translateY(4px);
        box-shadow: none;
    }
}

/*Mobile button press animation*/
#random:active
{
    cursor: pointer;
    transform: translateY(4px);
    box-shadow: none;
}